form.formulario select{
    width: 41.8%;
    font-size: 16px;
}

form.formulario select.seleccionar_listado{
    width: 75%;
}

form.formulario input.num_hb{
    width: 70.6%;
}

button{
    margin-top: 10px;
}

td{
    text-align: center;
}

.modal-contenido form.formulario select{
    width: 100%;
}

.img_room{
    opacity: 0.7;
}

.acciones {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: none;
    height: 100vh;
}

.acciones section {
    grid-column: span 6;
}

.acciones section:nth-child(odd):last-child{
    grid-column: 4 / span 6;
}


.contenedor-formulario {
    display: flex;
    gap: 30px;
    margin: 20px;
}

.seccion-busqueda,
.seccion-asignarHabitacion {
    flex: 1;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grupo-formulario {
    margin-bottom: 20px;
}

.grupo-formulario label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 8px;
}

.grupo-formulario input,
.grupo-formulario select {
    width: 96%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border 0.3s;
}

.grupo-formulario select {
    width: 99%;
}

.grupo-formulario input:focus,
.grupo-formulario select:focus {
    border-color: #343a40;
    outline: none;
}

.seccion-busqueda button {   
    display: block;
    padding: 9px 20px;
    background-color: #2474c4;
    width: auto;
    margin-top: 0;
}

.seccion-busqueda button:hover {
    background-color: #084c8f;
}

.info-huesped {
    margin-top: 25px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.info-huesped h3 {
    font-size: 22px;
    color: #201f1f;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #adb5bd;
    padding-bottom: 8px;
}

.info-huesped p {
    margin: 10px 0;
    font-size: 16px;
    color: #1f2124;
}

.seccion-busqueda .grupo-horizontal {
    display: flex;
    gap: 10px;
    align-items: center;
}

.seccion-busqueda input[type="text"] {
    flex: 1;
}

.seccion-busqueda button {
    white-space: nowrap;
}

.botones-accion{
    display: flex;
    gap: 15px;
}

.botones-accion button{
    margin-top: 0;
}

.titulo_asignacion{
    margin-bottom: 30px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #dee2e6;
}

.titulo_asignacion h1 {
    font-size: 25px;
    color: #0b0b0c;
    margin: 0;
}

span{
    background-color: #e2e2e2;
    border-radius: 3px;
    font-size: 15px;
}
