#modal_motivo {
    width: 30%; 
    height: 40px; 
    resize: none;
    padding: 5px; 
    font-size: 14px; 
}

form.formulario select{
    width: 100%;
    font-size: 16px;
}

button{
    margin-top: 10px;
}

td{
    text-align: center;
}

.modal-contenido{
    width: 100%;
    max-width: 500px;
}

.modal-contenido form.formulario #modal_motivo{
    width: 98%;
    font-size: 14px;
    border-radius: 10px;

}

.img_room{
    opacity: 0.7;
}
